<!DOCTYPE html>
<html>
  <head>
    <title>Bolivar Today</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="cont">
      <h1>Bolivar Today</h1>
      <div id="normal">
        <select v-model="tasa1" @change="cambiarTasa">
          <option v-for="tasa in tasas" :value="tasa">{{tasa.nombre}} | {{tasa.pais}}</option>
        </select>
        <select v-model="tasa2" @change="cambiarTasa">
          <option v-for="tasa in tasas" :value="tasa">{{tasa.nombre}} | {{tasa.pais}}</option>
        </select>
        <br>
        <input v-model="valor1" :value="valor1" @keyup="cambiarValor1"/>
        <input v-model="valor2" :value="valor2" @keyup="cambiarValor2"/>
        <button @click="voltearValores">-></button>
      </div>
      <div id="unovs">
        <select v-model="tasavs">
          <option v-for="tasa in tasas" :value="tasa">{{tasa.nombre}} | {{tasa.pais}}</option>
        </select>
        <br>
        <input v-model="valorvs" :value="valorvs"/>
        <p v-for="tasa in tasas">{{tasa.nombre}} | {{tasa.pais}}: {{tasa.valor | conversion(valorvs,tasavs)}}</p>
      </div>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
